{% extends "bella/page.html" %}

{% block title %}
  {% if garment %}
    {{ garment.name }}
  {% else %}
    New Garment
  {% endif %}
{% endblock %}

{% block content %}
  <form
    action="{% if garment %}{% url 'garment' garment.id %}{% else %}{% url 'new_garment' %}{% endif %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    {{ garment_form.as_p }}
    {% include "bella/picture_formset.html" %}
    <p>
      {% if garment %}
        <button type="submit" name="submit" value="delete" class="secondary">Delete</button>
      {% endif %}
      <button type="submit" name="submit" value="save">Save</button>
    </p>
  </form>
{% endblock %}
